<div
  class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="
    min-height: 400px;
    background-image: url(assets/img/theme/pizza.jpg);
    background-size: cover;
    background-position: center top;
  "
>

  <span class="mask bg-gradient-danger opacity-8"></span>
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">Home</h1>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--7">
  <div
    class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
    style="
      min-height: 500px;
      background-image: url(assets/img/theme/pizza.jpg);
      background-size: cover;
      background-position: center top;
      cursor: pointer;
    "
    (click)="pizzaClick()"
  >

    <span class="mask bg-gradient-success opacity-8"></span>
    <div class="container-fluid d-flex align-items-center">
      <div class="row">
        <div class="col-lg-7 col-md-10">
          <h1 class="display-1 text-white">PIZZA</h1>
        </div>
      </div>
    </div>
  </div>

  <div
    class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
    style="
      margin-top: 20px;
      min-height: 500px;
      background-image: url(assets/img/theme/HUMBURGER.jpg);
      background-size: cover;
      background-position: center top;
      cursor: pointer;
    "
    (click)="humburgerClick()"
  >

    <span class="mask bg-gradient-primary opacity-8"></span>

    <div class="container-fluid d-flex align-items-center">
      <div class="row">
        <div class="col-lg-7 col-md-10">
          <h1 class="display-1 text-white">HUMBURGER</h1>
        </div>
      </div>
    </div>
  </div>
</div>
