<div
  class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="
    min-height: 400px;
    background-image: url(assets/img/theme/pizza.jpg);
    background-size: cover;
    background-position: center top;
  "
>

  <span class="mask bg-gradient-danger opacity-8"></span>
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">Order</h1>
        <div></div>
        <button class="btn btn-success" style="margin-top:2em ;" (click)="confirmOrder()" [disabled] = "confirm"> Confirm</button>
      </div>
    </div>
  </div>
</div>
<app-order-card [orders]="$orders" [foods]="$foods" (orderDeleted)="deleteOrder($event)"></app-order-card>